/* Fonts - From Google Fonts*/
.playwrite-ie-Custom {
  font-family: "Playwrite IE", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.playfair-display-Custom {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Colors */
.background {
    background-color: lightblue;
}

/* Ensures Images are not too large */
.icon {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.labeller {
    font: none;
    padding: 0%;
    color: black;
}

/* Hovers */
button:hover {
    color: gray;
}

a:hover {
    color: darkblue;
}

select:hover {
    color: darkblue;
    background-color: antiquewhite;
}

/* Action */

select:active {
    color: darkgreen;
    background-color: white;
}

details:active {
    color: darkgreen;
}

